h1{
    text-align: center;
}
.main{
    width: 90%;
    justify-self: center;
    display: flex;
    flex-wrap: wrap;
    row-gap: 30px;
    column-gap: 50px;
    justify-content: center;
}
.loc-card{
    width: 300px;
    height: 200px;
    background: #fd1616;
}