h1{
    text-align: center;
}
.main{
    width: 90%;
    justify-self: center;
    display: flex;
    flex-wrap: wrap;
    row-gap: 30px;
    column-gap: 50px;
    justify-content: center;
    margin-bottom: 40px;
}
.loc-card {
    width: 300px;
    background: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    text-align: center;
    font-family: sans-serif;
}

/* Görsel kısmı */
.loc-img {
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.loc-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
}

/* Yazı kısmı */
.loc-text {
    padding: 10px;
    font-size: 1.1rem;
    font-weight: bold;
    background-color: #f8f8f8;
}

